
<ion-content>
  <div class="form-container">
    <header>
      <img src="assets/icon/BetipPro.png" alt="Sports Logo">
    </header>
    <form (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="username" name="username" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
      </ion-item>
      <ion-button expand="full" class="ion-padding " shape="rounded"  type="submit">Ingresar</ion-button>
    </form>
  </div>
</ion-content>
